<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41878188115-6hf11hjvrlnd01uh6atqk6boaileojg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41878188115-6hf11hjvrlnd01uh6atqk6boaileojg2</string>
	<key>API_KEY</key>
	<string>AIzaSyBgWtFvr7gxlsb0z8ZcPRktlpfqUdUy-8M</string>
	<key>GCM_SENDER_ID</key>
	<string>41878188115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bedroomsandmore.portal</string>
	<key>PROJECT_ID</key>
	<string>bedroomsandmore-1475864223819</string>
	<key>STORAGE_BUCKET</key>
	<string>bedroomsandmore-1475864223819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:41878188115:ios:689e1e97fc1ee627</string>
	<key>DATABASE_URL</key>
	<string>https://bedroomsandmore-1475864223819.firebaseio.com</string>
</dict>
</plist>