

/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

/* Framework 7 Tweaks */

.page-content{

  background-color: white;
  padding-bottom: 90px !important;
}
.page[data-page="profile"] > .page-content{
    padding-bottom: 0 !important;
    background-color: rgb(71, 183, 195);
}

.statusbar-overlay {
    background: #000000;
}

div.navbar{
  background: rgb(66, 137, 139);
}

.navbar .f7-icons{
  color: white;
}

.navbar .center{
  color: white;
}

.card{
  box-shadow: 0 0 2px rgba(0, 0, 0, .6) !important; 
}

.row-fullwidth{
  width: 100%;
  padding-right: 40px;
}

/* Index */

.index-icon{
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background: blue;
  color: white;
}
.login-page{
  background-image: url("../media/login.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: none;
}
.login-page-content{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 30px !important;
}
.login-symbol{
  width: 250px;
}
.password-login{
  width: 235px;
  height: 3em;
  text-align: center;
}
.login-button{
  width: 250px;
  height: 3em;
  font-size: 15px;
}


/* Profile */

#profile-header{
  background-color: rgb(71, 183, 195);
  padding: 20px 0;
}

#contact-bar{
  background-color: rgb(71, 183, 195);
  padding-bottom: 10px;
}

.profile-swiper {
  max-height: 75%;
}
.swiper-slide {
  background:lightblue;
  padding: 10px 0;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.flex-item{
  flex-basis: 33%;
  margin-bottom: 20px;
}

.flex-item.coming-soon{
  opacity: 0.2;
}

.app-ico{
  width: 80px;
}
.app-ico-title{

}
#after-swiper{

}

/* PoS CSS */

.pos-navigation{
  margin-bottom: 15px;
}
.pos-nav-margin{
  margin: 5px;
}
.pos-nav-col{
    display: inline-block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 49.5%;
}
.pos-customer-button{
  float: right;
}
.pos-summary-button{
  float: right;
}
.pos-nav-col[data-active='true']{
  background-color: rgb(179, 181, 183);
  font-size: 14px;
}
.pos-nav-col[data-active='false']{
  background-color: rgb(228, 228, 229);
  font-size: 14px;
}

/* Prod Card */

.cart-list{
  padding-bottom: 50px;
}
.prod-img{
  width: 80px;
}
.location-edit-card{
  font-size: 20px;
}
.receiving-section{
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

/* Cart */

.button-item-input{
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  background-color:rgb(203,204,206);
  color: black;
}
.popup-action-button{
  background-color: teal;
  color: white;
  border-radius: 10px;
}
.attribute-border{
  margin-bottom: 10px;
}
.card-header-action-line{
  padding: 0 5px 5px 10px;
}
.stock-table{
  padding-bottom: 15px;
}
.stock-table-quantity{
  width: 4em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#search-box{
  width: 80%;
  border-right:  none;
  border-left:  none;
  border-top:  none;
  height: 2em;
  font-size: 16px;
  padding-top: 15px;
  background-color: initial;
}

.search-results{
  height: 300px;
  overflow: auto
}

.search-result-item{
  font-size: 12px;
  white-space: normal !important;
}

.stock-popup{
  z-index:  100000;
}

.search-modal{
  margin-top: -235px;
  left: 39%;
  width: 350px;
}

.save-draft-modal{
  margin-top: -235px;
  left: 39%;
  width: 350px; 
}
.save-quote-modal{
  margin-top: -235px;
  left: 39%;
  width: 350px; 
}

.location-edit-card{
  border: 1px solid black;
  border-radius: 5px;
}

/* Delivery */

#section-one .list-block{
  margin: 10px 0;
}

#section-three{
  display: none;
}

#section-four{
  display: none;
}

.page[data-page='pos_delivery']{
  padding-bottom: 60px;
}

.picker-calendar-day.picker-calendar-day-today span{
  background: #e3e3e3;
  color: black;
}

.picker-calendar-day.picker-calendar-day-selected{
  background-color: #007aff;
}

#additional-notes{
  width: 90%;
  margin: 0px 10px;
  border: 0px;
  height: 10em;
  padding: 10px;
}

.receiving-section .list-block-title{
  border-bottom: 1px solid black;
  padding-left: 10px;
  line-height: 2em;
}

#same-as-billing-label{
  padding-right: 10px;
  line-height: 3em;
}

/* Summary */
#summary-block{
  padding: 15px;
  font-size: 18px;
}
.summary-section{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-bottom: 20px;
}
.summary-section p{
  margin-left: 25px;
}
.summary-section .content-block-title{
  margin: 15px 10px 15px;
}
#summary-div-receiving span{
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 25px;
  padding-bottom: 10px;
}
#summary-div-receiving-date{
  border-bottom: none;
}
#customer-cart-div{
  border: none;
}
#summary-cart{
  padding-left: 0;
}
#pay-button-div{
  text-align: center;
}
#pay-button{
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 25px;
  background: blue;
  color: white;
}
.payment-popup .popup-action-button{
  margin-top: 30px;
}
#summary-delivery-notes{
  margin: 15px;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 20px
}
#note-card-summary{
  margin: 0 0 20px;
}

#balance-input{
  height: 3em;
}
#date-payment-div{
  text-align: left;
}
#balance-payment-div{
  text-align: left;
  padding-bottom: 10px;
}
/* Payment */

.payment-popup{
  background-color: rgb(236, 236, 236);
}
.payment-type-button{
  border: 1px solid rgb(205, 205, 205);
  background: white;
  padding: 4px;
  border-radius: 10px;
}

.payment-popup .row{
  height: 50px;
}


/* Thank You */

.rec-method-button{
  text-align: center;
  padding: 30px 0;
}

.rec-method-button span{
  border: 1px solid black;
  background-color: rgb(71, 191, 208);
  color: white;
  padding: 30px 60px;
  font-size: 40px;
  border-radius: 10px;
}


/* Clock */

.clock-date{
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}
.clock-time{
  text-align: center;
  padding: 20px;
}
.current-clock-date{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.current-clock-time{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}

.circle {
  border: 20px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px #888888;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  /* -moz-box-sizing: border-box; */
  /* box-sizing: border-box; */
}

.hour-hand{
  position: absolute;
  background-color: white;
  height: 45px;
  width: 5px;
  margin-left: 37px;
}

.minute-hand-in{
  position: absolute;
  background-color: white;
  height: 5px;
  width: 30px;
  margin-left: 37px;
  margin-top: 40px;
}
.minute-hand-out{

}
.clock-button-label{
  text-align: center;
  padding-top: 5px;
}

.history-section-label{
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.inactive .circle{
  background-color: grey;
}

.clockhistory-list-label{
  margin-bottom: 5px !important;
}

/* Misc */

.toolbar-header{
  position: absolute;
  bottom: 43px;
  color: black;
  z-index: 2;
  border: 1px solid black;
  width: 100%;
  background-color: white;
}

.reduced-margin-content-block{
  margin: 20px 0;
}

.list-block ul:before{
  height: 0px;
}
.list-block ul:after{
  height: 0px;
}

.custom-discount-modal{
  margin-top: -235px !important;
  left: 39%;
  width: 350px;
}

#cart-discount-list{
  padding-left: 0;
  padding-top: 20px;
}

.img-lightbox{
  position: absolute;
  width: 80%;
  left: 10%;
  background:rgba(0,0,0,0.3);
  z-index: 5700;
}
.img-lightbox-inner{
  text-align: center;
}
.lightbox-img{
  padding: 5px;
  background-color: rgba(255,255,255,0.6);
  margin-top: 5px;
}
/* Colors */

.low-vis-black{
  color: rgba(0, 0, 0, 0.3);
}
.white{
  color: rgb(255, 255, 255);
}
.green{
  background: green;
}
.red{
  background: red;
}

/* Utility */

.left-align{
  text-align: left;
}
.left-float{
  float: left;
}
.center-align{
  text-align: center;
}
.right-align{
  text-align: right;
}
.right-float{
  float: right;
}
.bottom-center{
  position: absolute;
  bottom: 44px;
  width: 100%;
}
.bottom-center div{
  text-align: center;
}
.popup-header{
  background-color: rgb(39, 90, 116);
  color: white;
}
.popup-header h1{
  margin-top: 0px;
}
.dividing-line{
  border: 1px rgba(0, 0, 0, 0.1) solid;
  margin: 5px 0;
}
.icon-padding-left{
  padding-left:10px;
}
.primary-color-text{
  background-color: rgb(66, 137, 139);
  color: white;
}
.primary-text{
  color: white;
}
.primary-color{
  background-color: rgb(66, 137, 139);
}
.secondary-color{
  background-color: rgb(71, 188, 195);
}
.login-popup-content{
  background-image: url("../media/login.jpg");
  height: 100%;
}
.login-popup-content p{
  margin-top: 0;
}
.login-popup{
  z-index: 100000;
}

/* RGB Colors */
/*
Dark Teal: (66, 137, 139);
Light Teal: (71, 188, 195);
*/

/* iPad testing */
@media screen and (orientation:portrait) and (min-width: 481px){
  .ipad-test{
    color: red;
  }
}

@media screen and (orientation:landscape) and (min-width: 481px){
  .ipad-test{
    color: purple;
  }
}
